@import '../../../../assets/styles/variables';

#aside .active {
    svg {
        path {
            fill: #f9bd4f;
        }
    }
    .svgStroke {
        stroke: #f9bd4f;
    }

    .svgIcon {
        fill: #fff;
    }
}

#aside .active {
    color: rgb(34, 24, 118);
}
