@import '../../../../assets/styles/variables';

.aside {
    display: flex;
    flex-direction: column;
    width: 16vw;
    min-width: 16vw;
    background-color: #fff;
    overflow: hidden;
    padding: 0 0 0 1.5vw;

    &__nav {
        margin: 5.05vw 0 1.5vw;

        li {
            margin-bottom: 2.7vw;

            &:hover {
                .adfwdf {
                    fill: #f9bd4f;
                    stroke: #f9bd4f;
                }

                .qqqqqq {
                    fill: #fff;
                    stroke: #fff;
                }

                svg {
                    path {
                        fill: #f9bd4f;
                    }
                }

                .svgStroke {
                    stroke: #f9bd4f;
                }

                .svgIcon {
                    fill: #fff;
                }
            }

            svg {
                margin-right: 1vw;
                width: 1.81vw;
                height: 1.53vw;
            }

            a,
            div {
                display: flex;
                align-items: flex-end;
                font-family: $Montserrat-Medium;
                font-size: 1vw;
                line-height: 1.4vw;
                letter-spacing: 0.1vw;
                color: #d3d1e4;
                cursor: pointer;

                &:hover {
                    color: #221876;
                }
            }
        }
    }

    &__backgroundImage {
        margin-top: auto;
        margin-bottom: 2vw;
        width: 14.5vw;
        height: 22vw;
    }
}
