@import '../../../../assets/styles/variables';

.aside {
    display: flex;
    flex-direction: column;
    width: 16vw;
    min-width: 16vw;
    background-color: #fff;
    overflow: hidden;
    padding: 0 0 0 1.5vw;

    @media only screen and (max-width: 499px) {
        padding: 0;
        width: 13.34vw;
        min-width: 13.34vw;
    }

    &__nav {
        margin: 5.05vw 0 1.5vw;

        @media only screen and (max-width: 499px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        li {
            margin-bottom: 2.7vw;

            @media only screen and (max-width: 499px) {
                margin-bottom: $mobile24px;
            }

            &:hover {
                .logoutIcon {
                    fill: #f9bd4f;
                    stroke: #f9bd4f;
                }

                .logoutFill {
                    fill: #fff;
                    stroke: #fff;
                }

                svg {
                    path {
                        fill: #f9bd4f;
                    }
                }

                .svgStroke {
                    stroke: #f9bd4f;
                }

                .svgIcon {
                    fill: #fff;
                }
            }

            svg {
                margin-right: 1vw;
                width: 1.81vw;
                height: 1.53vw;

                @media only screen and (max-width: 499px) {
                    width: 5.6vw;
                    height: $mobile20px;
                }
            }

            .asideLink {
                display: flex;
                align-items: flex-end;
                font-family: $Montserrat-Medium;
                font-size: 1vw;
                line-height: 1.4vw;
                letter-spacing: 0.1vw;
                color: #d3d1e4;
                cursor: pointer;
                user-select: none;

                &:hover {
                    color: #221876;
                }

                &__text {
                    @media only screen and (max-width: 499px) {
                        display: none;
                    }
                }
            }
        }
    }

    &__subLink {
        font-family: $Montserrat-MediumItalic;
        font-size: $desctop10px;
        line-height: $desctop24px;
        color: #8e8e8e;
        padding-left: 0.6vw;
        max-width: 8vw;
    }

    &__backgroundImage {
        margin-top: auto;
        margin-bottom: 2vw;
        width: 14.5vw;
        height: 22vw;

        @media only screen and (max-width: 499px) {
            display: none;
        }
    }

    &__openedSubmenu,
    &__closedSubmenu {
        display: flex;
        flex-direction: column;
        margin: 0.5vw 0 0 2.8vw;
        transition: max-height 0.25s, opacity 0.25s, visibility 0.25s, padding 0.25s ease;
    }

    &__openedSubmenu {
        max-height: $desctop120px;
        opacity: 1;
        visibility: visible;
    }

    &__closedSubmenu {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
    }
}
