@import '../../assets/styles/variables';

.inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    &__invalid {
        margin-top: 0.5vw;
        color: $red;
        font-family: $CoreSansGRegular;
        font-weight: 400;
        font-size: 0.8vw;
        width: 100%;
        white-space: nowrap;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: 1.2vw;
            margin-top: 0.8vw;
        }

        @media only screen and (max-width: 499px) {
            margin-top: 1.5vw;
            margin-bottom: 1vw;
            font-size: 2vw;
        }

        li {
            margin-bottom: 0.5vw;
        }
    }
}

.frame {
    margin-top: 0.5vw;
    border-radius: 0.55vw;
    transform: skew(-15deg);
    border: 0.07vw solid #fff;

    input {
        transform: skew(15deg);
    }
}
