@import '../../assets/styles/variables';

.inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    &__invalid {
        right: 1vw;
        top: 45%;
        position: absolute;
        font-family: $CoreSansGRegular;
        font-weight: 400;
        font-size: 0.8vw;
        color: #E55541;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            right: 2vw;
            top: 42%;
        }

        @media only screen and (max-width: 499px) {
            right: 3vw;
            top: 35%;
        }

        img {
            @media only screen and (max-width: 499px) {
                width: 2vw;
            }
        }

        &:hover {
            .inputWrapper__tooltip {
               opacity: 1;
            }
        }
    }

    &__tooltip {
        display: flex;
        position: absolute;
        bottom: 2vw;
        right: -1vw;
        width: max-content;
        max-width: 26vw;
        font-family: $CoreSansGRegular;
        font-size: 0.8vw;
        line-height: 1vw;
        color: #E55541;
        background: $white;
        box-shadow: 0px 0px $desctop8px rgba(0, 0, 0, 0.2);
        border-radius: $desctop2px;
        padding: $desctop14px $desctop20px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.25s;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: 1.1vw;
            line-height: 1.2vw;
            padding: 1vw 1.4vw;
        }

        @media only screen and (max-width: 499px) {
            bottom: 6vw;
            right: -2.5vw !important;
            font-size: 2.2vw;
            line-height: 2.3vw;
            padding: 2vw 3vw;
            max-width: 63vw !important;
        }

        &_attention {
            margin-right: $desctop20px;
            display: flex;
            align-items: flex-start;
            width: 16px;
            height: 16px;

            @media only screen and (max-width: 499px) {
                width: 7vw !important;
            }
        }

        li:not(:last-child) {
            margin-bottom: 0.5vw;
        }

        &:after {
            content: "";
            background: $white;
            border-radius: $desctop2px;
            transform: rotate(45deg);
            width: $desctop12px;
            height: $desctop12px;
            position: absolute;
            bottom: -0.3vw;
            right: 0.9vw;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                right: 1vw;
                width: 1vw;
                height: 1vw;
            }

            @media only screen and (max-width: 499px) {
                width: 2vw;
                height: 2vw;
                bottom: -1.1vw;
                right: 2.3vw;
            }
        }
    }
}

.questionMarkStyle {
    @media only screen and (max-width: 499px) {
        margin-right: 0 !important;
    }
}

.hasError {
    &::placeholder {
        color: #E55541 !important;
    }
}

.frame {
    margin-top: 0.5vw;
    border-radius: 0.55vw;
    transform: skew(-15deg);
    border: 0.07vw solid #fff;

    @media only screen and (max-width: 499px) {
        border-radius: 1.2vw;
    }

    input {
        transform: skew(15deg);
    }
}
