.newsSlickSlider {
    margin: 0 15vw;
}

.slick-slider {
    height: 30vw;

    @media only screen and (min-width: 500px) and (max-width: 1024px) {
        height: 35vw;
    }
}

/* the slides */
.slick-slide {
    margin: 0 30px;
}
/* the parent */
.slick-list {
    margin: 0 -30px;
}

.slickSlider {
    &__arrowPrev {
        position: absolute;
        bottom: 3vw;
        right: 52%;
        z-index: 9999;
        cursor: pointer;

        &:hover {
            .slickRect {
                fill: #2c3769;
                stroke: #2c3769;
            }

            .slickPath {
                fill: #2c3769;
            }
        }
    }

    &__arrowNext {
        position: absolute;
        bottom: 3vw;
        left: 52%;
        z-index: 9999;
        cursor: pointer;

        &:hover {
            .slickRect {
                fill: #2c3769;
                stroke: #2c3769;
            }

            .slickPath {
                fill: #2c3769;
            }
        }
    }
}
