@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.signIn {
    &__title {
        font-family: $CoreSansGRegular;
        font-size: 30px;
        color: #fff;
        text-align: center;
        margin-bottom: 3vw;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: 3vw;
        }

        @media only screen and (max-width: 499px) {

        }
    }

    &__inputWrapper {
        margin-bottom: 1.5vw;
    }

    &__forgotPassword {
        font-family: $CoreSansGRegular;
        font-size: 0.8vw;
        color: #fff;
    }

    &__signIn {
        font-family: $CoreSansGRegular;
        font-size: 1vw;
        color: #fff;
        text-align: center;
        cursor: pointer;
        width: fit-content;
        margin: 0 auto;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid #fff;
        }

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: 1.2vw;
        }

        @media only screen and (max-width: 499px) {

        }
    }

    &__input {
        width: 26vw;
        height: 3.5vw;
        margin-top: 0.5vw;
        background: transparent;
        border-radius: 0.1vw;
        border: none;
        padding: 0 4vw 0 2vw;
        font-size: 1vw;
        line-height: 1.4vw;
        outline: none;
        font-family: $CoreSansGRegular;
        color: #fff;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            width: 31vw;
            height: 4vw;
            font-size: 1.5vw;
            line-height: 3.8vw;
        }

        @media only screen and (max-width: 499px) {

        }

        &::placeholder {
            font-family: $CoreSansGRegular;
            font-size: 1vw;
            line-height: 3.8vw;
            color: #fff;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                font-size: 1.5vw;
                line-height: 3.8vw;
            }

            @media only screen and (max-width: 499px) {

            }
        }
    }

    &__submitBtn {
        border: none;
        background-color: transparent;
        font-family: $CoreSansGRegular;
        font-size: 1vw;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.5vw;
        width: 13vw;
        margin: 3vw auto 1.5vw;
        outline: none;
        cursor: pointer;
        transition: all 0.25s;
        -webkit-backface-visibility: hidden;
        -webkit-transform: perspective(1000px);

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: 1.8vw;
            height: 4.8vw;
            width: 18vw;
        }

        @media only screen and (max-width: 499px) {

        }

        &:hover {
            transform: scale(1.05);
        }
    }
}
