@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.containerWrapper {
    background: $blueGradient;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 52vw;

    @media only screen and (max-width: 767px) {
        height: auto;
        padding-top: 12vw;
    }

    &__icon {
        display: none;

        @media only screen and (max-width: 767px) {
            display: none;
        }
    }

    &__title {
        font-family: $DrukTextWide-Medium;
        font-size: $desctop36px;
        color: $white;

        @media only screen and (max-width: 767px) {
            font-size: 6.48vw;
            line-height: 9.18vw;
            margin-bottom: 8.1vw;
        }
    }

    &__wrapper {
        padding: 4.18vw 0 7.32vw 0;
        text-align: center;

        @media only screen and (max-width: 767px) {
            padding: 0 12.15vw 10vw;
        }
    }
}

.allGames {
    position: relative;
    background: #d8d6ed;
    padding: 4.7vw 0 8vw;

    @media only screen and (max-width: 767px) {
        padding: 10.8vw 12.15vw 20vw;
    }

    &__title {
        font-family: $DrukTextWide-Medium;
        font-size: $desctop48px;
        line-height: $desctop48px;
        color: #2c3769;
        text-align: center;

        @media only screen and (max-width: 767px) {
            font-size: 6.48vw;
            line-height: 9.18vw;
            margin-bottom: 8.1vw;
        }
    }

    &__wrapper {
        padding: $desctop60px 12.78vw 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media only screen and (max-width: 767px) {
            flex-direction: column;
            padding: 0;
        }

        &_item {
            position: relative;
            cursor: pointer;
            transition: transform 0.3s;
            margin-bottom: 2vw;
            width: 30%;

            @media only screen and (max-width: 767px) {
                margin-bottom: 7vw;
                width: 100%;
            }

            &:hover {
                transform: scale(1.1);

                .allGames__wrapper_button {
                    opacity: 1;
                }

                .allGames__wrapper_mask {
                    opacity: 0.68;
                }
            }
        }

        &_img {
            width: 100%;
            height: 100%;
            border-radius: 1vw;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        &_mask {
            background: #000000;
            mix-blend-mode: normal;
            opacity: 0;
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
            border-radius: 1vw;

            @media only screen and (max-width: 767px) {
                bottom: 4px;
                border-radius: 2vw;
            }
        }

        &_button {
            @include beveledButton;
            position: absolute;
            right: 1.5vw;
            bottom: 1.5vw;
            font-family: $Montserrat-Medium;
            border: none;
            min-width: 8vw;
            width: fit-content;
            height: 3vw;
            font-size: $desctop12px;
            line-height: $desctop12px;
            opacity: 0;
            transition: opacity 0.25s;
            z-index: 999;
            color: #fff;
            background: linear-gradient(172.75deg, #fad961 -7.82%, #f76b1c 99.05%);
            outline: none;
            text-transform: uppercase;

            @media only screen and (max-width: 499px) {
                right: 5.5vw;
                bottom: 7.5vw;
                min-width: 24vw;
                height: 8vw;
                font-size: 2.63vw;
            }
        }
    }
}
