@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixin';

.history {
    flex: 1;
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(216, 214, 237, 0.56) 81.29%);
    border-radius: 1.5vw;
    margin: 0 1.7vw;
    padding: 2.3vw 2.64vw;

    &__tabsWrapper {
        display: flex;
        justify-content: flex-end;

        &_item {
            border: 0.056vw solid #D8D6ED;
            font-family: $CoreSansGRegular;
            color: #757575;
            cursor: pointer;
            transition: all 0.25s;
            font-size: 0.89vw;
            padding: 0.7vw 1.25vw;
            width: fit-content;
            border-radius: 0.5vw;
            text-align: center;
            margin-left: 1.4vw;
            line-height: initial;
            transition: all 0.25s;

            &:hover {
                background: linear-gradient(20.27deg, #2A1F84 0.74%, #221876 72.26%);
                color: #fff;
                border: 0.056vw solid linear-gradient(20.27deg, #2A1F84 0.74%, #221876 72.26%);
            }
        }

        &_itemActive {
            background: linear-gradient(20.27deg, #2A1F84 0.74%, #221876 72.26%);
            color: #fff;
            border: 0.056vw solid linear-gradient(20.27deg, #2A1F84 0.74%, #221876 72.26%);
        }

        &_datePicker {
            border: 0.056vw solid #D8D6ED;
            font-family: $CoreSansGRegular;
            color: #757575;
            cursor: pointer;
            transition: all 0.25s;
            font-size: 0.89vw;
            padding: 0.7vw 1.25vw;
            width: fit-content;
            border-radius: 0.5vw;
            text-align: center;
            margin-left: 1.4vw;
            background-color: transparent;
            outline-color: #2A1F84;
            transition: all 0.25s;

            &:hover {
                background: linear-gradient(20.27deg, #2A1F84 0.74%, #221876 72.26%);
                border: 0.056vw solid linear-gradient(20.27deg, #2A1F84 0.74%, #221876 72.26%);
                color: #fff;

                &::placeholder {
                    color: #fff;
                }
            }
        }
    }
}
