@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixin';

.profileData {
    flex: 1;
    background: linear-gradient(360deg, #ffffff 0%, rgba(216, 214, 237, 0.56) 81.29%);
    border-radius: 1.5vw;
    margin: 0 1.7vw;
    padding: 2.3vw 2.64vw;

    &__title {
        color: #a8a6c1;
        font-family: $Montserrat-Medium;
        font-size: 1vw;
        margin-bottom: 2vw;
    }

    &__settingsWrapper {
        display: flex;
    }

    &__changeUserName,
    &__changeAvatar {
        color: #a8a6c1;
        font-family: $Montserrat-Medium;
        font-size: $desctop16px;
        margin-bottom: 2.5vw;
    }

    &__changeAvatarWrapper {
        margin-right: 15vw;
    }

    &__inputWrapper {
        display: flex;
        align-items: flex-end;
        margin: 0 0 1.5vw;
    }

    &__input {
        display: flex;
        width: 18vw;
        height: 2.5vw;
        background: transparent;
        border-radius: 0.1vw;
        border: none;
        padding: 0 2vw 0 1vw;
        font-size: 1vw;
        line-height: 1.4vw;
        outline: none;
        font-family: $Montserrat-Medium;
        color: #b0aed3;

        &::placeholder {
            font-family: $Montserrat-Medium;
            font-size: $desctop12px;
            line-height: 3.8vw;
            color: #b0aed3;
        }
    }

    &__label {
        color: #b0aed3;
        font-size: $desctop10px;
        line-height: $desctop12px;
        display: flex;
        flex-direction: column;
        padding-left: 1vw;
        font-family: $Montserrat-Medium;
    }

    &__changeBtn {
        @include beveledButton;
        min-width: 11vw;
        height: 2.6vw;
        font-family: $Montserrat-Medium;
        font-size: 0.9vw;
        color: #fff;
        background: linear-gradient(172.75deg, #fad961 -7.82%, #f76b1c 99.05%);
        margin-left: 3vw;
        transition: transform 0.25s;

        &:hover {
            background: linear-gradient(
                172.75deg,
                rgba(250, 217, 97, 0.8) -7.82%,
                rgba(247, 107, 28, 0.8) 99.05%
            );
        }
    }
}

.twoFactorAuth {
    margin-top: $desctop60px;

    &__title {
        font-family: $Montserrat-Medium;
        font-size: $desctop20px;
        line-height: $desctop24px;
        color: #a8a6c1;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $desctop15px;
    }

    &__statusWrapper {
        display: flex;
        align-items: center;

        &_title {
            font-family: $Montserrat-Medium;
            font-size: $desctop12px;
            line-height: $desctop15px;
            color: #a8a6c1;
            margin-right: $desctop18px;
        }

        &_statusTurnedOff {
            @include beveledButton;
            min-width: 8vw;
            height: 2.44vw;
            font-family: $Montserrat-Medium;
            font-size: $desctop12px;
            color: #a8a6c1;
            background: transparent;
            margin-right: 1.6vw;
            border: $desctop1px solid #d8d6ed;
            cursor: default;
        }

        &_statusEnabled {
            @include beveledButton;
            min-width: 8vw;
            height: 2.44vw;
            font-family: $Montserrat-Medium;
            font-size: $desctop12px;
            color: #fff;
            background: #96df6a;
            margin-right: 1.6vw;
            cursor: default;
        }
    }

    &__qrCodeWrapper {
        display: flex;
        border: $desctop1px solid #d8d6ed;
        border-radius: $desctop12px;
        padding: $desctop17px $desctop40px $desctop17px $desctop17px;

        &_rightSide {
            margin-left: $desctop40px;
        }

        &_title {
            font-family: $Montserrat-Medium;
            font-size: $desctop12px;
            line-height: $desctop16px;
            color: #4a4a4a;
            margin-bottom: $desctop20px;
        }

        &_generateCode {
            @include beveledButton;
            min-width: 11vw;
            width: fit-content;
            height: 2.44vw;
            font-family: $Montserrat-Medium;
            font-size: $desctop12px;
            color: #fff;
            background: linear-gradient(172.75deg, #fad961 -7.82%, #f76b1c 99.05%);
            margin-right: 1.6vw;

            &:hover {
                background: linear-gradient(
                    172.75deg,
                    rgba(250, 217, 97, 0.8) -7.82%,
                    rgba(247, 107, 28, 0.8) 99.05%
                );
                color: #fff;
            }
        }

        &_qrCode {
            font-family: $Montserrat-Medium;
            font-size: $desctop10px;
            line-height: $desctop12px;
            color: #f77723;
            cursor: pointer;
        }
    }

    &__generateCodeWrapper {
        display: flex;
        align-items: center;
        margin-bottom: $desctop20px;
    }

    &__switchQrCodeBtn {
        @include beveledButton;
        min-width: $desctop110px;
        height: 2.4vw;
        font-family: $Montserrat-Medium;
        font-size: 0.9vw;
        color: #fff;
        background: linear-gradient(172.75deg, #fad961 -7.82%, #f76b1c 99.05%);
        margin-left: 3vw;
        transition: transform 0.25s;
        position: absolute;
        right: $desctop1px;
        bottom: $desctop1px;

        &:hover {
            background: linear-gradient(
                172.75deg,
                rgba(250, 217, 97, 0.8) -7.82%,
                rgba(247, 107, 28, 0.8) 99.05%
            );
        }
    }

    &__twoFAInputWrapper {
        display: flex;
        align-items: flex-end;
        margin: 0 0 1.5vw;
        position: relative;
        width: fit-content;
    }

    &__input {
        display: flex;
        width: 18vw;
        height: 2.4vw;
        background: transparent;
        border-radius: 0.1vw;
        border: none;
        padding: 0 2vw 0 1vw;
        font-size: 1vw;
        line-height: 1.4vw;
        outline: none;
        font-family: $Montserrat-Medium;
        color: #b0aed3;

        &::placeholder {
            font-family: $Montserrat-Medium;
            font-size: $desctop12px;
            line-height: 3.8vw;
            color: #b0aed3;
        }
    }
}

.resetPasswordContainer {
    margin: $desctop60px 0;

    &__title {
        font-family: $Montserrat-Medium;
        font-size: $desctop20px;
        line-height: $desctop24px;
        color: #a8a6c1;
        margin-bottom: $desctop20px;
    }

    &__inputContainer {
        display: flex;
        align-items: flex-end;
    }

    &__inputWrapper {
        margin-right: $desctop34px;
        position: relative;

        &_eye {
            position: absolute;
            right: 1vw;
            top: 50%;
            cursor: pointer;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                top: 50%;
                right: $tablet10px;
                width: $tablet30px;
                height: $tablet20px;
            }

            @media only screen and (max-width: 499px) {
                top: 50%;
                right: 4vw;
                width: $mobile30px;
                height: $mobile20px;
            }

            img {
                @media only screen and (max-width: 1024px) {
                    width: 100%;
                }
            }
        }
    }

    &__saveBtn {
        @include beveledButton;
        min-width: 11vw;
        height: 2.6vw;
        font-family: $Montserrat-Medium;
        font-size: 0.9vw;
        color: #fff;
        background: linear-gradient(172.75deg, #fad961 -7.82%, #f76b1c 99.05%);
        transition: transform 0.25s;

        &:hover {
            background: linear-gradient(
                172.75deg,
                rgba(250, 217, 97, 0.8) -7.82%,
                rgba(247, 107, 28, 0.8) 99.05%
            );
        }
    }
}
