@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.header {
    display: flex;
    padding: 1.5vw 0 1.5vw 1.5vw;
    width: 100%;

    &__logo {
        font-family: $DrukTextWide-Super;
        font-size: 1vw;
        line-height: $desctop30px;
        text-align: center;
        letter-spacing: $desctop2px;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        margin-right: auto;

        img {
            width: 13vw;
            height: 3.5vw;
        }
    }

    &__rightSide {
        display: flex;
        align-items: center;
        width: 16vw;
        min-width: 16vw;
        margin-left: 1.6vw;
        padding-right: 1.5vw;

        &_logo {
            width: 4.1vw;
            height: 4.1vw;
            border-radius: 50%;
            object-fit: cover;
        }

        &_settings {
            margin-left: auto;
            cursor: pointer;
            transition: all 0.25s;
            width: 1.6vw;
            height: 1.6vw;

            svg {
                width: 100%;
                height: 100%;
            }

            &:hover {
                path {
                    fill: rgb(34, 24, 118);
                }
            }
        }

        &_close {
            display: flex;
            margin-left: 1.74vw;
            cursor: pointer;
            transition: all 0.25s;
            width: 1.74vw;
            height: 1.74vw;

            svg {
                width: 100%;
                height: 100%;
            }

            &:hover {
                svg{
                    fill: rgb(34, 24, 118);

                    rect {
                        stroke: rgb(34, 24, 118);
                    }

                    path {
                        stroke: #fff;
                    }
                }
            }
        }
    }
}
