@import '../../assets/styles/variables';

.footer {
    position: relative;
    display: flex;
    background: #211b52;
    padding: 3.87vw 12.18vw 3.39vw 12.7vw;

    @media only screen and (max-width: 767px) {
        padding: 10.67vw 14.38vw 14.58vw 12.15vw;
        flex-direction: column;
    }

    &_coins {
        position: absolute;
        width: 20.92vw;
        height: 20.92vw;
        top: -13vw;
        right: 0;

        @media only screen and (max-width: 767px) {
            width: 35vw;
            height: 35vw;
            top: -14vw;
            right: 6vw;
            left: initial;
        }
    }

    &__logo {
        font-family: $DrukTextWide-Medium;
        font-size: $desctop25px;
        line-height: $desctop25px;
        text-align: center;
        letter-spacing: $desctop2px;
        text-transform: uppercase;
        color: $white;
        width: max-content;

        @media only screen and (max-width: 767px) {
            font-size: 4.86vw;
            line-height: 4.86vw;
            margin-bottom: 10.67vw;
        }

        &:hover {
            color: $white;
        }

        img {
            width: 15.32vw;
            height: 2.03vw;
            transform: translate(-2.2vw);

            @media only screen and (max-width: 767px) {
                width: 45vw;
                height: 8vw;
                transform: translate(0);
            }
        }
    }

    &__copyright {
        display: flex;
        flex-direction: column;

        &_content {
            font-family: $CoreSansGRegular;
            font-size: $desctop12px;
            color: $white;
            margin: auto 0 1vw 0;
            width: max-content;

            @media only screen and (max-width: 767px) {
                display: none;
            }
        }

        &_contentMobile {
            display: none;

            @media only screen and (max-width: 767px) {
                display: flex;
                font-family: $CoreSansGRegular;
                font-size: 4.32vw;
                color: $white;
                margin: auto 0 1vw 0;
                width: max-content;
            }
        }

        &_symbol {
            margin: 0 0.4vw;

            @media only screen and (max-width: 767px) {
                margin: 0 1.5vw;
            }
        }
    }

    &__about,
    &__support,
    &__services {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: $desctop15px;
        font-family: $DrukTextWide-Bold;
        font-size: $desctop16px;
        line-height: $desctop20px;
        color: #d8d6ed;
        white-space: nowrap;

        @media only screen and (max-width: 767px) {
            font-size: 3.78vw;
            line-height: 3.78vw;
            margin-bottom: $mobile20px;
        }
    }

    &__linksWrapper {
        display: flex;
        margin-left: 10vw;

        @media only screen and (max-width: 767px) {
            margin-left: 0;
            flex-direction: column;
        }

        div {
            &:not(last-child) {
                margin-right: 5vw;

                @media only screen and (max-width: 767px) {
                    margin: 0 0 10.8vw 0;
                }
            }
        }
    }

    &__links {
        font-family: $CoreSansGRegular;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
        text-align: left;
        white-space: nowrap;
        font-size: $desctop14px;
        line-height: $desctop36px;
        color: #928dbd;

        @media only screen and (max-width: 767px) {
            font-size: $mobile16px;
            line-height: 9.72vw;
            overflow: hidden;
        }

        &:hover {
            color: #6effff;
        }
    }
}

.footerPersonalArea {
    display: flex;
    align-items: center;
    padding: $desctop40px 1.5vw;
    background: linear-gradient(168.3deg, #ffffff -16.89%, #d8d6ed 84.45%);

    &__column {
        margin-right: 6.75vw;
    }

    &__logo {
        margin-right: 6.75vw;
        width: 12vw;
        height: 3.3vw;
    }

    &__title {
        font-family: $Montserrat-Bold;
        font-size: $desctop12px;
        line-height: $desctop20px;
        color: #221876;
    }

    &__link {
        font-family: $Montserrat-Medium;
        font-size: $desctop12px;
        line-height: $desctop30px;
        color: #928dbd;
        margin-right: $desctop30px;
        white-space: nowrap;

        &:hover {
            color: #f76b1c;
        }
    }

    &__linksWrapper {
        max-width: 14vw;
        display: flex;
        flex-wrap: wrap;
    }

    &__copyright {
        font-family: $Montserrat-Medium;
        font-size: $desctop12px;
        line-height: $desctop17px;
        color: #928dbd;
    }
}
