@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.registration {
    &__title {
        font-family: $Montserrat-Medium;
        font-size: $desctop25px;
        color: #fff;
        text-align: center;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: 3vw;
        }

        @media only screen and (max-width: 499px) {
            font-size: 7vw;
            margin-bottom: 4vw;
        }
    }

    &__closeWrapper {
        display: none;

        @media only screen and (max-width: 499px) {
            display: block;
            padding: 5vw;
            position: absolute;
            top: 5vw;
            right: 5vw;

            &_close {
                width: 5vw;
                height: 5vw;
            }
        }
    }

    &__form {
        padding-top: 3vw;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 75vh;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            max-height: 60vh;
        }

        @media only screen and (max-width: 499px) {
            padding-top: 0;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__select {
        margin-bottom: 1.5vw;
        position: relative;
        z-index: 1;
    }

    &__inputWrapper {
        margin: 0 0.5vw 1.5vw;
        position: relative;

        @media only screen and (max-width: 499px) {
            margin: 0 1.5vw 4.5vw;
        }

        &_invalid {
            margin-top: 0.5vw;
            color: $red;
            font-family: $Montserrat-Medium;
            font-weight: 400;
            font-size: 0.8vw;
            width: 100%;
            white-space: nowrap;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                font-size: 1.2vw;
                margin-top: 0.8vw;
            }

            @media only screen and (max-width: 499px) {
                margin-top: 1.5vw;
                margin-bottom: 1vw;
                font-size: 2vw;
            }
        }

        &_eye {
            position: absolute;
            right: 1vw;
            top: 43%;
            cursor: pointer;
            z-index: 10;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                top: 41%;
                right: 1vw;
            }

            img {
                width: $desctop16px;
                height: $desctop16px;

                @media only screen and (min-width: 500px) and (max-width: 1024px) {
                    width: $tablet12px;
                    height: $tablet12px;
                }
            }

            @media only screen and (max-width: 499px) {
               display: none;
            }
        }
    }

    &__alreadyHaveAccount {
        font-family: $Montserrat-Medium;
        font-size: 1vw;
        color: #fff;
        text-align: center;
        text-align: center;
        cursor: pointer;
        width: fit-content;
        margin: 0 auto;
        border-bottom: 0.056vw solid transparent;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: 1.2vw;
        }

        @media only screen and (max-width: 499px) {
            font-size: 3vw;
        }

        &:hover {
            border-bottom: 0.056vw solid #fff;
        }
    }

    &__label {
        font-family: $Montserrat-Medium;
        font-size: 0.7vw;
        margin-left: 2vw;
        color: #fff;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: 1vw;
        }

        @media only screen and (max-width: 499px) {
            margin-bottom: 1.5vw;

            font-size: $mobile10px;
            line-height: $mobile12px;
            padding-left: $mobile20px;
        }
    }

    &__labelError {
        color: #e55541;
    }

    &__input {
        width: 26vw;
        height: 3.5vw;
        background: transparent;
        border-radius: 0.1vw;
        border: none;
        padding: 0 4vw 0 2vw;
        font-size: 1vw;
        line-height: 1.4vw;
        outline: none;
        font-family: $Montserrat-Medium;
        font-size: 1vw;
        line-height: 3.8vw;
        color: #fff;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            width: 31vw;
            height: 3.95vw;
            font-size: 1.5vw;
            line-height: 3.8vw;
        }

        @media only screen and (max-width: 499px) {
            font-size: $mobile12px;
            line-height: $mobile15px;
            height: $mobile35px;
            width: 100%;
            padding: 0 14vw 0 $mobile20px;
        }

        &::placeholder {
            font-family: $Montserrat-Medium;
            font-size: 1vw;
            line-height: 3.8vw;
            color: #fff;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                font-size: 1.5vw;
                line-height: 3.8vw;
            }

            @media only screen and (max-width: 499px) {
                font-size: $mobile12px;
                line-height: $mobile15px;
            }
        }
    }

    &__checkBoxWrapper {
        width: 26vw;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            width: 31vw;
        }

        @media only screen and (max-width: 499px) {
            width: 100%;
        }
    }

    &__checkbox {
        display: block;
        margin-bottom: 1.5vw;

        &_wrapper {
            display: flex;
            align-items: center;
        }

        &_title {
            padding: 0;
        }

        &_title,
        &_link {
            font-family: $Montserrat-Medium;
            font-size: 0.8vw;
            color: #fff;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                font-size: 1.2vw;
                line-height: 1.7vw;
            }

            @media only screen and (max-width: 499px) {
                font-size: 3vw;
                line-height: 3.5vw;
            }
        }

        &_titleError {
            color: #e55541;

            a {
                color: #e55541;
                border-bottom: 0.056vw solid #e55541;
            }
        }

        &_link {
            border-bottom: 0.056vw solid #fff;
            margin-left: 0.5vw;

            &:hover {
                color: #fad961;
                border-bottom: 0.056vw solid #fad961;
            }
        }
    }

    &__submitBtnWrapper {
        transition: all 0.25s;
        -webkit-backface-visibility: hidden;
        -webkit-transform: perspective(1000px);
        width: fit-content;
        margin: 0 auto;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__submitBtn {
        @include beveledButton;
        font-family: $Montserrat-Medium;
        font-size: 1vw;
        color: #fff;
        background: linear-gradient(172.75deg, #fad961 -7.82%, #f76b1c 99.05%);
        border: none;
        height: 3.5vw;
        min-width: 22vw;
        margin: 3vw auto 1.5vw;
        outline: none;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: 1.8vw;
            height: 4vw;
            width: 25vw;
        }

        @media only screen and (max-width: 499px) {
            min-width: 55vw;
            margin: 5.5vw auto 3.5vw;
            height: $mobile35px;
            font-size: $mobile10px;
            line-height: $mobile12px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

.frame {
    border-radius: 0.55vw;
    transform: skew(-15deg);
    border: 0.07vw solid #fff;
    margin: 0.5vw 0.5vw 0;

    @media only screen and (max-width: 499px) {
        border-radius: 1.2vw;
        margin: 0.5vw 1.5vw 4.5vw;
    }

    &__error {
        border: 0.07vw solid #e55541;

        input::placeholder {
            color: #e55541;
        }

        &:first-child {
            display: inline-flex;
        }
    }

    & > * {
        transform: skew(15deg);
    }
}
