@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.twoFa {
    &__title {
        font-family: $Montserrat-Medium;
        font-size: $desctop25px;
        color: #fff;
        text-align: center;
        margin-bottom: 3vw;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: 3vw;
        }

        @media only screen and (max-width: 499px) {
            font-size: 7vw;
            margin-bottom: 4vw;
        }
    }

    &__infoWapper {
        display: flex;
        margin-bottom: $desctop68px;

        &_img {
            width: 6.67vw;
            height: 6.67vw;
            margin-right: $desctop25px;
        }

        &_title {
            font-family: $Montserrat-Medium;
            font-size: $desctop25px;
            line-height: $desctop32px;
            color: #fff;
            margin-bottom: $desctop10px;
        }

        &_subTitle {
            font-family: $Montserrat-Medium;
            font-size: $desctop14px;
            line-height: $desctop25px;
            color: #fff;
        }
    }

    &__closeWrapper {
        display: none;

        @media only screen and (max-width: 499px) {
            display: block;
            padding: 5vw;
            position: absolute;
            top: 5vw;
            right: 5vw;

            &_close {
                width: 5vw;
                height: 5vw;
            }
        }
    }

    &__inputWrapper {
        margin-bottom: 1.5vw;

        @media only screen and (max-width: 499px) {
            margin-bottom: 4.5vw;
        }
    }

    &__forgotPassword {
        font-family: $Montserrat-Medium;
        font-size: 0.8vw;
        color: #fff;
    }

    &__input {
        width: 26vw;
        height: 3.5vw;
        background: transparent;
        border-radius: 0.1vw;
        border: none;
        padding: 0 4vw 0 2vw;
        font-size: 1vw;
        line-height: 1.4vw;
        outline: none;
        font-family: $Montserrat-Medium;
        color: #fff;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            width: 31vw;
            height: 3.95vw;
            font-size: 1.5vw;
            line-height: 3.8vw;
        }

        @media only screen and (max-width: 499px) {
            font-size: $mobile12px;
            line-height: $mobile15px;
            height: $mobile35px;
            width: 100%;
            padding: 0 14vw 0 $mobile20px;
        }

        &::placeholder {
            font-family: $Montserrat-Medium;
            font-size: 1vw;
            line-height: 3.8vw;
            color: #fff;

            @media only screen and (min-width: 500px) and (max-width: 1024px) {
                font-size: 1.5vw;
                line-height: 3.8vw;
            }

            @media only screen and (max-width: 499px) {
                font-size: $mobile12px;
                line-height: $mobile15px;
            }
        }
    }

    &__label {
        font-family: $Montserrat-Medium;
        font-size: $desctop12px;
        margin-left: 2vw;
        color: #fff;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: 1vw;
        }

        @media only screen and (max-width: 499px) {
            margin-bottom: 1.5vw;

            font-size: $mobile10px;
            line-height: $mobile12px;
            padding-left: $mobile20px;
        }
    }

    &__submitBtnWrapper {
        transition: all 0.25s;
        -webkit-backface-visibility: hidden;
        -webkit-transform: perspective(1000px);
        width: fit-content;
        margin: 0 auto;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__submitBtn {
        @include beveledButton;
        font-family: $Montserrat-Medium;
        font-size: 1vw;
        color: #fff;
        background: linear-gradient(172.75deg, #FAD961 -7.82%, #F76B1C 99.05%);

        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.5vw;
        min-width: 13vw;
        margin: 3vw auto 1.5vw;
        outline: none;

        @media only screen and (min-width: 500px) and (max-width: 1024px) {
            font-size: 1.8vw;
            height: 4.8vw;
            min-width: 18vw;
        }

        @media only screen and (max-width: 499px) {
            min-width: 55vw;
            margin: 5.5vw auto 3.5vw;
            height: $mobile35px;
            font-size: $mobile10px;
            line-height: $mobile12px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}
