@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw $desctop75px;
    position: relative;
    z-index: 9999;
    background: $blueGradient;
    border-bottom: $desctop2px solid rgba(149, 252, 253, 0.1);
    z-index: 1;
    width: 100%;
    max-height: 6.47vw;

    @media only screen and (max-width: 767px) {
        padding: $mobile30px $mobile42px;
        max-height: initial;
    }

    &__logoWrapper {
        display: flex;
        align-items: center;
        margin-right: 5vw;

        @media only screen and (max-width: 499px) {
            margin-left: $mobile16px;
            display: none;
        }
    }

    &__login,
    &__signUp {
        @include beveledButton;
        font-family: $DrukTextWide-Bold;
        border: $desctop1px solid #C5C3DF;
        background-color: transparent;
        width: 11.5vw;
        height: $desctop48px;
        outline: none;
        cursor: pointer;
        font-size: 0.75vw;
        line-height: $desctop12px;
        text-align: center;
        letter-spacing: $desctop1px;
        color: #C5C3DF;
        border-radius: 0.5vw;

        &:hover {
            background-color: #C5C3DF;
            color: #2A1F84;
        }
    }

    &__login {
        margin-right: $desctop25px;
    }

    &__signUp {
        margin-right: $desctop100px;
    }

    &__logo {
        font-family: $DrukTextWide-Super;
        font-size: 1vw;
        line-height: $desctop30px;
        text-align: center;
        letter-spacing: $desctop2px;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        margin-right: auto;
        display: flex;

        @media only screen and (max-width: 767px) {
            font-size: $mobile18px;
            line-height: $mobile18px;
            letter-spacing: 0.14vw;
        }

        img {
            width: 15.32vw;
            height: 2.5vw;

            @media only screen and (max-width: 767px) {
                width: 45vw;
                height: 8vw;
            }
        }
    }

    &__burgerMenu {
        display: none;

        @media only screen and (max-width: 767px) {
            display: block;
        }
    }

    &__rightSide {
        display: flex;
        align-items: center;
        margin-left: 5vw;

        @media only screen and (max-width: 767px) {
            display: none;
        }

        &_logo {
            width: 4.1vw;
            height: 4.1vw;
            border-radius: 50%;
            object-fit: cover;

            @media only screen and (max-width: 499px) {
                width: $mobile36px;
                height: $mobile36px;
            }
        }

        &_name {
            font-family: $Montserrat-Medium;
            font-weight: bold;
            font-size: $desctop16px;
            line-height: 1.35vw;
            color: #fff;
            margin-left: 1vw;

            @media only screen and (max-width: 499px) {
                display: none;
            }
        }

        &_buttonWrapper {
            display: flex;
            transform: skew(-15deg);

            span {
                transform: skew(15deg);
            }
        }
    }
}
