@mixin mainBtnStyle {
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-size: 0.8vw;
    line-height: 1vw;
    letter-spacing: 0.05vw;
    padding: 0 1.2vw;
    transition: all 0.25s;
    border-radius: 0.1vw;
}

@mixin beveledButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.35vw;
    transform: skew(-15deg);
    cursor: pointer;
    transition: all 0.25s;

    @media only screen and (max-width: 499px) {
        border-radius: 1.07vw;
    }

    .buttonText {
        transform: skew(15deg);
    }
}

@mixin roundedBtnStyle {
    box-shadow: 0px $desctop5px $desctop10px rgba(0, 0, 0, 0.1);
    border-radius: $desctop20px;
}

@mixin btnWithoutBorder {
    background-color: transparent;
    border: none;
    color: $textDarkLight;
}

@mixin fillBtnWithBorderAndBackground {
    border: 0.056vw solid transparent;
    color: $white;

    @media only screen and (max-width: 1024px) {
        border: 0.056vw solid transparent;
    }

    @media only screen and (max-width: 499px) {
        border: 0.056vw solid white;
    }

    &:hover {
        background-color: transparent;
        transition: all 0.25s;
    }
}

@mixin fillRoundedBtnWithBorderAndBackground {
    border: 0.056vw solid transparent;
    color: $white;

    @media only screen and (max-width: 1024px) {
        border: 0.056vw solid transparent;
    }

    @media only screen and (max-width: 499px) {
        border: 0.056vw solid white;
    }

    &:hover {
        background: transparent;
        transition: all 0.25s;
    }
}

@mixin greenBtnWithBorderAndBackground {
    @include fillBtnWithBorderAndBackground;
    background-color: $greenLight;

    &:hover {
        border: 0.056vw solid $greenLight;
        color: $greenLight;

        @media only screen and (max-width: 1024px) {
            border: 0.056vw solid $greenLight;
        }
    }
}

@mixin greenBtnWithOutBackground {
    @include fillBtnWithBorderAndBackground;
    background-color: transparent;
    color: $greenLight;
    border: 0.056vw solid $greenLight;

    @media only screen and (max-width: 1024px) {
        border: 0.056vw solid $greenLight;
    }

    @media only screen and (max-width: 499px) {
        background-color: $greenLight;
        color: $white;
    }

    &:hover {
        background-color: $greenLight;
        color: $white;
    }
}

@mixin redBtnWithOutBackground {
    @include fillBtnWithBorderAndBackground;
    background-color: transparent;
    color: $red;
    border: 0.056vw solid $red;

    @media only screen and (max-width: 1024px) {
        border: 0.056vw solid $red;
    }

    @media only screen and (max-width: 499px) {
        background-color: $red;
        color: $white;
    }

    &:hover {
        background-color: $red;
        color: $white;
    }
}

@mixin redBtnWithBorderAndBackground {
    @include fillBtnWithBorderAndBackground;
    background-color: $red;

    &:hover {
        border: 0.056vw solid $red;
        color: $red;

        @media only screen and (max-width: 1024px) {
            border: 0.056vw solid $red;
        }
    }
}

@mixin blueBtnWithOutBackground {
    @include fillBtnWithBorderAndBackground;
    background-color: transparent;
    color: $blueDark;
    border: 0.056vw solid $blueDark;

    @media only screen and (max-width: 1024px) {
        border: 0.056vw solid $blueDark;
    }

    @media only screen and (max-width: 499px) {
        background-color: $blueDark;
        color: $white;
    }

    &:hover {
        background-color: $blueDark;
        color: $white;
    }
}

@mixin blueBtnWithBorderAndBackground {
    @include fillBtnWithBorderAndBackground;
    background-color: $blueDark;

    &:hover {
        border: 0.056vw solid $blueDark;
        color: $blueDark;

        @media only screen and (max-width: 1024px) {
            border: 0.056vw solid $blueDark;
        }
    }
}

@mixin greyBtnWithBorderAndBackground {
    @include fillBtnWithBorderAndBackground;
    background-color: $greyButton;

    &:hover {
        border: 0.056vw solid $greyButton;
        color: $greyButton;

        @media only screen and (max-width: 1024px) {
            border: 0.056vw solid $greyButton;
        }
    }
}

@mixin blackBtnWithOutBackground {
    @include fillBtnWithBorderAndBackground;
    background-color: transparent;
    color: $greyLight;
    border: 0.056vw solid $greyLight;

    @media only screen and (max-width: 1024px) {
        border: 0.056vw solid $greyLight;
    }

    @media only screen and (max-width: 499px) {
        background-color: $greyLight;
        color: $white;
    }

    &:hover {
        background-color: $greyLight;
        color: $white;
    }
}

@mixin darkBlueBtnWithBorderAndBackground {
    @include fillRoundedBtnWithBorderAndBackground;
    @include roundedBtnStyle;
    background: linear-gradient(180deg, #191C2D -54.09%, #2B73A5 175.45%);

    &:hover {
        border: 0.056vw solid #213550;
        color: #213550;

        @media only screen and (max-width: 1024px) {
            border: 0.056vw solid #213550;
        }
    }
}

@mixin brownBtnWithOutBackground {
    @include fillBtnWithBorderAndBackground;
    background-color: transparent;
    color: $brownColor;
    border: 0.056vw solid $brownColor;
    border-radius: $desctop20px;

    @media only screen and (max-width: 1024px) {
        border: 0.056vw solid $brownColor;
    }

    @media only screen and (max-width: 499px) {
        background-color: $brownColor;
        color: $white;
    }

    &:hover {
        background-color: $brownColor;
        color: $white;
    }
}

@mixin darkBlueBtnWithWhiteHoverWithBorderAndBackground {
    @include fillRoundedBtnWithBorderAndBackground;
    @include roundedBtnStyle;
    background: linear-gradient(180deg, #191C2D -54.09%, #2B73A5 175.45%);

    &:hover {
        border: 0.056vw solid $white;
        color: $white;

        @media only screen and (max-width: 1024px) {
            border: 0.056vw solid $white;
        }
    }
}

@mixin linkHover {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: color .6s cubic-bezier(.19,1,.22,1);

    &:hover {
        opacity: 1;
    }

    &:before {
        content: "";
        position: absolute;
        bottom: $desctop10px;
        left: 0;
        width: 100%;
        height: $desctop2px;
        background: $brownColor;
        transform: translate3d(-102%,0,0);
        transition: transform .5s cubic-bezier(.19,1,.22,1);
        box-sizing: border-box;
    }

    &:hover:before {
        transform: translate3d(0,0,0);
        transition: transform .25s cubic-bezier(.19,1,.22,1);
    }
}
