@import '../../../../assets/styles/variables';

.depositQrCode.qrCode {

    @media only screen and (max-width: 499px) {
        position: absolute;
    }

    canvas {
        height: 9.4vw !important;
        width: 9.4vw !important;

        @media only screen and (max-width: 499px) {
            height: 19vw !important;
            width: 19vw !important;
            border-radius: $mobile5px;
        }
    }
}
